[parameters]
server=irc.server.net:6667 #change this
channel=#channel #change this
nick=GoLife 
user=USER GoBot 8 * :GOBOT!
password = 123456    #password if you want register the Bot on the server
mail = gobot@mygobot.go    # the mail for register the Bot

#old sintax
commands = !alive;!spam;!rss 
results = I'm alive;This is SPAAAM!;Last News --> http://feeds.bbci.co.uk/news/rss.xml?edition=int

#new sintax
input = !alive:I'm alive
	!spam:This is SPAAAM!
 	!rss: Last News --> http://feeds.bbci.co.uk/news/rss.xml?edition=int
